aiogram
aiohttp
aioredis
aiosignal
async-timeout
asyncpg
attrs
Babel
certifi
charset-normalizer
environs
et-xmlfile
frozenlist
idna
marshmallow
multidict
openpyxl
packaging
pyparsing
python-dotenv
pytz
requests
typing_extensions
urllib3
xlrd
xlwt
yarl
